* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    all: unset;
}

:root {
    --purple: #a64AC9;
    --yellow: #FCCD04;
    --primary: #fdbd00;
    --dark-primary: #fedf80;
    --pink: #FFB48F;
    --cream: #F5E6CC;
    --blue: #17E9E0;
    --dark-bg: #121212;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(15px + 0.390625vw);
}

body {
    width: 100vw;
    height: 100vh;
    line-height: 1.5;
    display: grid;
    grid-template-columns: clamp(220px, 25%, 280px) 1fr;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

header {
    border: 2px solid blue;
    grid-area: header;
    display: grid;
    grid-template-columns: minmax(30%, 50%) repeat(2, 48px) 1fr;

    div {
        margin: auto;
    }

    div svg {
        border: 1px solid gold;
    }
    
    .date {
        border: 1px solid red;
        width: 100%;

        h2 {
            border: 1px solid green;
        }

    }

    .search {
        border: 1px solid green;
    }

    .notif {
        border: 1px solid yellow;
    }

    .user {
        border: 1px solid turquoise;
        display: grid;
        grid-template-columns: 1fr 48px;
        align-items: center;
        gap: 12px;

        img {
            border: 1px solid var(--dark-bg);
            border-radius: 50%;
        }

        p {
            border: 1px solid blueviolet;
            text-align: end;
        }
    }
}

.sidebar {
    background-color: #121212;
    color: white;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "logo"
        "nav";

    .logo {
        grid-area: logo;
        margin: 1rem;
        height: 42px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 12px;
        justify-content: center;

        img {
            opacity: 87%;
        }

        h1 {
            font-size: 1.2rem;
            text-transform: capitalize;
            align-self: center;
            opacity: 87%;
        }
    }

    nav {
        grid-area: nav;
        margin: 1rem;
        display: grid;
        justify-content: center;

        ul:last-child {
            align-self: flex-end;
        }

        ul li {
            margin-top: 32px;
            display: flex;
            align-items: center;
            gap: 24px;
            opacity: 87%;

            span {

                svg {
                    height: 24px;
                    width: 24px;
                    fill: #FFFFFF;
                    
                }
            }

            p {
                line-height: 1 !important;
            }
        }

    }
}

.main-content {
    border: 2px solid green;
    grid-area: main;
}


@media (min-width: 576px) {

    /* … */
}

@media (min-width: 768px) {

    /* … */
}

@media (min-width: 992px) {

    /* … */
}

@media (min-width: 1180px) {

    /* … */
}